{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blogapp/register.css' %}">
</head>
<body>


    
    <form class="box" action="register.html" method="post">
        <h1>register</h1>
        <input type="text" name="" placeholder="Username">
        <input type="text" name="" placeholder="Email">
        <input type="password" name="" placeholder="Password">
        <input type="password" name="" placeholder="Confirm password">
        <input type="submit" name="" value="Register">
        <a href="login.html">login</a>
    </form>




</body>
</html>